:root {
    --cor-principal: #e6ac27;
    --font-fredoka: 'Fredoka', sans-serif;
    --font-rubik: 'Rubik', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: space-around;
    gap: 2rem;

}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;


}

.tittle {
    color: var(--cor-principal);
    font-weight: bold;
    font-family: var(--font-fredoka);
    font-size: 2.4rem;
    padding: 1rem;
}

#username,
#password {
    border-radius: 50px;
    border: 2px solid;
    border-color: var(--cor-principal);
    padding: 1rem;
    margin: 0.3rem;
    font-size: 1rem;
    width: 21rem;
    height: 3rem;
}

.btn {
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--cor-principal);
    display: block;
    margin: auto;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    transition: 1s;
    background-color: #FFFCC7;
    transform: scale(1.1);
    color: var(--cor-principal);
}

.msgLogin {
    margin-left: 2.9rem;
    padding: 1rem 0;
    color: rgb(37, 34, 34);
    font-family: var(--font-rubik);
}

.fa-user,
.fa-lock {
    display: block;
    position: relative;
    bottom: 2.2rem;
    left: -1rem;
    font-size: 1rem;

}
.fa-eye{
    display: inline;
    position: relative;
    top:-5.5rem;
    left: 19rem;
    font-size: 1rem;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: .9rem;

}

.fa-brands {
    border-radius: 50px;
    border: 3px solid;
    padding: 0.6rem;
    font-size: 1.6rem;
    border-color: var(--cor-principal);
}

.fa-brands:hover {
    border-color: #FFC727;
}

a {
    color: inherit;
}

.conteudoLateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    background-color: var(--cor-principal);
}

.tittleMsg {
    font-family: var(--font-fredoka);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.tittleParagrafo {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    margin: 1.2rem;
    max-width: 85%;
    text-align: justify;

}

.btnSignUp {
    background-color: #FFC727;
    padding: .7rem 2.6rem;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    transition: 1.5s;

}

.btnSignUp:hover {
    background-color: #FFFCC7;
    transform: scale(1.1);
    color: var(--cor-principal);

}
.msgFinal{
    font-size: .8rem;
    margin-top: 1.5rem;
    font-weight: bold;
    font-family: var(--font-fredoka);
}

/* responsivel Tablet  */


@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .fa-eye{
        top:-5.5rem;
        left: 19rem;
    }
}

/* responsivel smartphones */

@media screen and (max-width:425px) {
    #username,
    #password{
        width: 18rem;
        height: 2.7rem;
        margin: 0;
    }
    .fa-eye{
        top:-5.2rem;
        left: 16rem;
    }
    img{
        width: 60%;
    }
    .msgLogin{
        margin-left: 2rem;
    }
    .tittleMsg{
        font-size: 1.8rem;
    }
}